apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: "32.x"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  values:
    globalArguments:
      - "--global.sendanonymoususage=false"
      - "--global.checknewversion=false"

    additionalArguments:
      - "--log.level=INFO"

    deployment:
      replicas: 1

    ports:
      web:
        port: 80
        exposedPort: 80
      metrics:
        port: 9100
        expose:
          default: true

    service:
      type: LoadBalancer
      loadBalancerClass: tailscale
      annotations:
        tailscale.com/hostname: "traefik"
        tailscale.com/proxy-class: "tailscale-proxy"

    metrics:
      prometheus:
        entryPoint: metrics

    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: false

    logs:
      access:
        enabled: true
