apiVersion: v1
kind: Service
metadata:
  name: fave-svc
  namespace: fave
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: fave
